		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="{{ site.url }}" class="standard-logo" data-dark-logo="{{ site.url }}/images/logo-dark.png"><img src="{{ site.url }}/images/logo.png" alt="{{ site.name }}"></a>
						<a href="{{ site.url }}" class="retina-logo" data-dark-logo="{{ site.url }}/images/logo-dark@2x.png"><img src="{{ site.url }}/images/logo@2x.png" alt="{{ site.name }}"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>

							<li><a href="{{ site.url }}" data-href="#section-home"><div>Home</div></a></li>
							<li><a href="{{ site.url }}/comparision/"><div>Features</div></a></li>
							<li><a href="{{ site.url }}/pricing/"><div>Pricing</div></a></li>
							<!-- <li><a href="#" data-href="#section-faqs"><div>FAQs</div></a></li> -->
							<li><a href="{{ site.url }}/contact.html" data-href="#section-contact"><div>Contact</div></a></li>
							<li><a href="https://www.mageplaza.com/magento-2-one-step-checkout-extension/" data-href="#section-buy"><div>Buy Now</div></a></li>

							
						</ul>


						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" id="search" class="form-control" value="" placeholder="Search...">
							</form>
						</div><!-- #top-search end -->


					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->