<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="{{ site.url }}/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/plugins.js"></script>
<script type="text/javascript" src="//www.mageplaza.com/skin/frontend/mageplaza/default/js/ajax-search.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="{{ site.url }}/js/functions.js"></script>

<script type="text/javascript">
	$(document).ready(function()
		{  
	 $("#register").submit(function()
		    {


		    	event.preventDefault();

				
		 			var data = $('form#register').serialize();
			        $.ajax({
				        type : 'POST', 
				        url  : 'https://services.mageplaza.com/email/subscribe.php', 
				        data : data,
				       	dataType: "json",
				        success :  function(response)
				               {    
				               		if(response.alert == 'success'){
										$('#show-offers').modal('show');
									}
									else{
										alert(response.message);
									}

				               }
				        });


		        	
		    });
		});


</script>


