<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{% include head.html %}
</head>

<body class="no-transition stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header.html %}

		<section id="page-title">

			<div class="container clearfix">
				<h1>{{ page.title }}</h1>
				<span>{{ page.description }}</span>
				<ol class="breadcrumb">
					<li><a href="{{ site.url }}">Home</a></li>
					<li class="active">{{ page.title }}</li>
				</ol>
			</div>

		</section>


		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
			<div class="container clearfix">
				<div class="postcontent col_last nobottommargin clearfix">
					{{ content }}
				</div>
					
				<div class="sidebar nobottommargin clearfix">
					{% include sidebar.html %}
				</div>

				</div>
			</div>
			

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->


{% include script.html %}


</body>
</html>
