<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{% include head.html %}
</head>

<body class="no-transition stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header.html %}




		<!-- Content
		============================================= -->
		<section id="content">


		<section id="page-title">

			<div class="container clearfix">
				<h1>{{ page.title }}</h1>
				<span>{{ page.description }}</span>
				<ol class="breadcrumb">
					<li><a href="{{ site.url }}">Home</a></li>
					<li><a href="{{ site.url }}/blog/">Blog</a></li>
					<li class="active">{{ page.title }}</li>
				</ol>
			</div>

		</section>
		
			<div class="content-wrap">
			<div class="container clearfix">
				<div class="postcontent nobottommargin clearfix">
					{{ content }}

					<div class="line"></div>

					{% include ads_blog_post_bottom.html %}
					
					<div class="line"></div>
					<h4>Related Posts:</h4>
					<div class="row clearfix">
						<ul class="iconlist">
							{% for post in site.categories.blog limit:5 %}
								<li><i class="icon-leaf"></i> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<!-- END related posts -->


				</div>
					
				<div class="sidebar nobottommargin col_last clearfix">
					{% include sidebar.html %}
				</div>

				</div>
			</div>
			

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->


{% include script.html %}


</body>
</html>
